body {
  width: 600px;
  background-color: #ff9500;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
}
h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539f;
  text-shadow: 3px 3px 1px black;
}
h1 {
  font-size: 60px;
  text-align: center;
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  color: #6d009f;
}