/* 为顶部导航添加黑色背景颜色 */
.topnav {
  background-color: #1e90ff;
  overflow: hidden;
}

/* 为导航栏内的链接设置样式 */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* 改变悬停时链接的颜色 */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* 添加一个活动类以突出显示当前页面 */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/* 隐藏应该在小屏幕上打开和关闭 topnav 的链接 */
.topnav .icon {
  display: none;
}
/* 为导航栏内的链接设置样式 */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* 改变悬停时链接的颜色 */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* 为活动/当前链接添加颜色 */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/* 重置默认样式 */
body, h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
}

/* 设置页面背景 */
body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
}

/* 头部样式 */
div {
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
}
header {
  color: #000000;

  padding: 25px;
  background: #fff;
}

h1 {
  font-size: 36px;
  margin-top: 10px;
  float:left;
}

.game-intro {
  margin-top: 60px;
}

.game-intro p {
  font-size: 18px;
}

.cta-button {
  display: inline-block;
  padding: 15px 25px;
  background-color: #1e90ff;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  margin-top: 5px;
  border-radius: 5px;
  float:right;
}

.cta-button2 {
  display: inline-block;
  padding: 15px 25px;
  background-color: #1e90ff;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  margin-top: 10px;
  border-radius: 5px;
  float:right;
}

.cta-button:hover {
  background-color: #0070cc;
  color: #fff;
}

h1 {
  letter-spacing: 6px;
}


/* 游戏公告样式 */
#announcement {
  background-color: #fff;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#announcement h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

#announcement ul {
  margin-left: 20px;
  font-size: 16px;
}

#announcement p {
  font-size: 18px;
  margin-top: 10px;
}

/* 底部样式 */
footer {
  background-color: #1e90ff;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

footer p {
  font-size: 14px;
}
